svg {
  background-color: white;
}
path {
  fill: #407076;

  stroke: white;

  stroke-width: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

path:hover {
  fill: #c9c5ba;
  transform: translate(-5px, -5px);
}

.map {
  width: 35%;
}

#raining_content {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#raining_content_data {
  box-sizing: border-box;
  padding-left: 20px;
  width: 65%;
}

canvas {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(118, 118, 118);
}
